
table{
    border: solid black 1px;
    border-collapse: collapse;
    width: 400px;
    height: 400px;
}


.blackBox{
    width:50px;
    height: 50px;
    background-color: black;



}
.whiteBox{
    width:50px;
    height: 50px;
    background-color: white;


}
