
table{
    border: solid black 1px;
    border-collapse: collapse;
    width: 400px;
    height: 400px;
}

#chessBoard{
    border: solid black 1px;
    border-collapse: collapse;
    width: 400px;
    height: 400px;
}

.blackBox{
    width:50px;
    height: 50px;
    background-color: black;
    float: left;
    border-radius: 50%;



}
.whiteBox{
    width:50px;
    height: 50px;
    background-color: gray;
    float: left;
    border-radius: 50%;


}
